[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-chroma = "==0.1.2"
langchain = "==0.2.6"
langchain-community = "==0.2.6"
langchain-core = "==0.2.10"
langchain-openai = "==0.1.11"
langchain-text-splitters = "==0.2.2"
gradio = "==4.37.1"
gradio-client = "==1.0.2"
openai = "==1.35.7"
openapi-pydantic = "==0.4.1"
openapi-schema-pydantic = "==1.2.4"
sentence-transformers = "==3.0.1"
python-dotenv = "==1.0.1"
lark = "*"
pymupdf = "*"
beautifulsoup4 = "*"
lxml = "*"
jq = "*"
chromadb = "==0.5.3"
python-dateutil = "*"
pandas = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.12"
