openapi: 3.0.1
info:
  title: cBioPortal web Public API [Alpha]
  description: A web service for supplying JSON formatted data to cBioPortal clients. Please note that this API is currently in beta and subject to change.
  contact:
    name: cbioportal
    url: https://www.cbioportal.org
    email: cbioportal@googlegroups.com
  license:
    name: License
    url: https://github.com/cBioPortal/cbioportal/blob/master/LICENSE
  version: 1.0 (beta). Backwards compatibility will be maintained (after 1.0 release)
externalDocs:
  description: SpringShop Wiki Documentation
  url: https://springshop.wiki.github.org/docs
servers:
  - url: https://www.cbioportal.org
    description: Generated server url
tags:
  - name: Server running status
    description: This end point does not require authentication
paths:
  /api/studies:
    get:
      tags:
        - Studies
      description: Get all studies
      operationId: getAllStudiesUsingGET
      parameters:
        - name: keyword
          in: query
          description: Search keyword that applies to name and cancer type of the studies
          required: false
          schema:
            type: string
        - name: projection
          in: query
          description: Level of detail of the response
          required: false
          schema:
            type: string
            default: SUMMARY
            enum:
              - ID
              - SUMMARY
              - DETAILED
              - META
        - name: pageSize
          in: query
          description: Page size of the result list
          required: false
          schema:
            maximum: 10000000
            minimum: 1
            type: integer
            format: int32
            default: 10000000
        - name: pageNumber
          in: query
          description: Page number of the result list
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: sortBy
          in: query
          description: Name of the property that the result list is sorted by
          required: false
          schema:
            type: string
            enum:
              - studyId
              - cancerTypeId
              - name
              - description
              - publicStudy
              - pmid
              - citation
              - groups
              - status
              - importDate
        - name: direction
          in: query
          description: Direction of the sort
          required: false
          schema:
            type: string
            default: ASC
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CancerStudy'
  /api/samples:
    get:
      tags:
        - Samples
      description: Get all samples matching keyword
      operationId: getSamplesByKeywordUsingGET
      parameters:
        - name: keyword
          in: query
          description: Search keyword that applies to the study ID
          required: false
          schema:
            type: string
        - name: projection
          in: query
          description: Level of detail of the response
          required: false
          schema:
            type: string
            default: SUMMARY
            enum:
              - ID
              - SUMMARY
              - DETAILED
              - META
        - name: pageSize
          in: query
          description: Page size of the result list
          required: false
          schema:
            maximum: 10000000
            minimum: 1
            type: integer
            format: int32
            default: 10000000
        - name: pageNumber
          in: query
          description: Page number of the result list
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: sortBy
          in: query
          description: Name of the property that the result list is sorted by
          required: false
          schema:
            type: string
            enum:
              - sampleId
              - sampleType
        - name: direction
          in: query
          description: Direction of the sort
          required: false
          schema:
            type: string
            default: ASC
            enum:
              - ASC
              - DESC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sample'

components:
  schemas:
    ClinicalDataSingleStudyFilter:
      type: object
      properties:
        ids:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
        attributeIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
      description: List of patient or sample IDs and attribute IDs
    ClinicalAttribute:
      required:
        - clinicalAttributeId
        - displayName
        - patientAttribute
        - studyId
      type: object
      properties:
        displayName:
          type: string
        description:
          type: string
        datatype:
          type: string
        patientAttribute:
          type: boolean
        priority:
          type: string
        clinicalAttributeId:
          type: string
        studyId:
          type: string
    ClinicalData:
      required:
        - clinicalAttributeId
        - patientId
        - studyId
      type: object
      properties:
        uniqueSampleKey:
          type: string
        uniquePatientKey:
          type: string
        sampleId:
          type: string
        patientId:
          type: string
        studyId:
          type: string
        clinicalAttribute:
          $ref: '#/components/schemas/ClinicalAttribute'
        patientAttribute:
          type: boolean
        clinicalAttributeId:
          type: string
        value:
          type: string
    CancerStudyTags:
      type: object
      properties:
        cancerStudyId:
          type: integer
          format: int32
        studyId:
          type: string
        tags:
          type: string
    CancerStudy:
      required:
        - studyId
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        publicStudy:
          type: boolean
        pmid:
          type: string
        citation:
          type: string
        groups:
          type: string
        status:
          type: integer
          format: int32
        importDate:
          type: string
          format: date-time
        allSampleCount:
          type: integer
          format: int32
        sequencedSampleCount:
          type: integer
          format: int32
        cnaSampleCount:
          type: integer
          format: int32
        mrnaRnaSeqSampleCount:
          type: integer
          format: int32
        mrnaRnaSeqV2SampleCount:
          type: integer
          format: int32
        mrnaMicroarraySampleCount:
          type: integer
          format: int32
        miRnaSampleCount:
          type: integer
          format: int32
        methylationHm27SampleCount:
          type: integer
          format: int32
        rppaSampleCount:
          type: integer
          format: int32
        massSpectrometrySampleCount:
          type: integer
          format: int32
        completeSampleCount:
          type: integer
          format: int32
        readPermission:
          type: boolean
        treatmentCount:
          type: integer
          format: int32
        structuralVariantCount:
          type: integer
          format: int32
        studyId:
          type: string
        cancerTypeId:
          type: string
        cancerType:
          $ref: '#/components/schemas/TypeOfCancer'
        referenceGenome:
          type: string
    TypeOfCancer:
      required:
        - cancerTypeId
      type: object
      properties:
        name:
          type: string
        dedicatedColor:
          type: string
        shortName:
          type: string
        parent:
          type: string
        cancerTypeId:
          type: string
    SampleFilter:
      type: object
      properties:
        sampleIdentifiers:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/SampleIdentifier'
        sampleListIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
        uniqueSampleKeys:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
      description: List of sample identifiers
    SampleIdentifier:
      type: object
      properties:
        sampleId:
          type: string
        studyId:
          type: string
    Sample:
      required:
        - patientId
        - sampleId
        - studyId
      type: object
      properties:
        uniqueSampleKey:
          type: string
        uniquePatientKey:
          type: string
        sampleType:
          type: string
          enum:
            - Primary Solid Tumor
            - Recurrent Solid Tumor
            - Primary Blood Tumor
            - Recurrent Blood Tumor
            - Metastatic
            - Blood Derived Normal
            - Solid Tissues Normal
        sequenced:
          type: boolean
        copyNumberSegmentPresent:
          type: boolean
        sampleId:
          type: string
        patientId:
          type: string
        studyId:
          type: string
    SampleList:
      required:
        - sampleListId
      type: object
      properties:
        category:
          type: string
        name:
          type: string
        description:
          type: string
        sampleCount:
          type: integer
          format: int32
        sampleIds:
          type: array
          items:
            type: string
        sampleListId:
          type: string
        studyId:
          type: string
    PatientFilter:
      type: object
      properties:
        patientIdentifiers:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/PatientIdentifier'
        uniquePatientKeys:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
      description: List of patient identifiers
    PatientIdentifier:
      type: object
      properties:
        patientId:
          type: string
        studyId:
          type: string
    Patient:
      required:
        - patientId
        - studyId
      type: object
      properties:
        uniqueSampleKey:
          type: string
        uniquePatientKey:
          type: string
        cancerStudy:
          $ref: '#/components/schemas/CancerStudy'
        patientId:
          type: string
        studyId:
          type: string
    MutationMultipleStudyFilter:
      type: object
      properties:
        sampleMolecularIdentifiers:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/SampleMolecularIdentifier'
        molecularProfileIds:
          type: array
          items:
            type: string
        entrezGeneIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maximum: 10000000
            minimum: 1
            type: integer
            format: int32
      description: List of Molecular Profile IDs or List of Molecular Profile ID / Sample ID pairs, and List of Entrez Gene IDs
    SampleMolecularIdentifier:
      type: object
      properties:
        sampleId:
          type: string
        molecularProfileId:
          type: string
    AlleleSpecificCopyNumber:
      type: object
      properties:
        ascnIntegerCopyNumber:
          type: integer
          format: int32
        ascnMethod:
          type: string
        ccfExpectedCopiesUpper:
          type: number
          format: float
        ccfExpectedCopies:
          type: number
          format: float
        clonal:
          type: string
        minorCopyNumber:
          type: integer
          format: int32
        expectedAltCopies:
          type: integer
          format: int32
        totalCopyNumber:
          type: integer
          format: int32
    Gene:
      required:
        - entrezGeneId
        - geneticEntityId
        - hugoGeneSymbol
      type: object
      properties:
        geneticEntityId:
          type: integer
          format: int32
        entrezGeneId:
          type: integer
          format: int32
        hugoGeneSymbol:
          type: string
        type:
          type: string
    Mutation:
      required:
        - entrezGeneId
        - molecularProfileId
        - patientId
        - sampleId
        - studyId
      type: object
      properties:
        uniqueSampleKey:
          type: string
        uniquePatientKey:
          type: string
        molecularProfileId:
          type: string
        sampleId:
          type: string
        patientId:
          type: string
        entrezGeneId:
          type: integer
          format: int32
        gene:
          $ref: '#/components/schemas/Gene'
        studyId:
          type: string
        driverFilter:
          type: string
        driverFilterAnnotation:
          type: string
        driverTiersFilter:
          type: string
        driverTiersFilterAnnotation:
          type: string
        center:
          type: string
        mutationStatus:
          type: string
        validationStatus:
          type: string
        tumorAltCount:
          type: integer
          format: int32
        tumorRefCount:
          type: integer
          format: int32
        normalAltCount:
          type: integer
          format: int32
        normalRefCount:
          type: integer
          format: int32
        aminoAcidChange:
          type: string
        startPosition:
          type: integer
          format: int64
        endPosition:
          type: integer
          format: int64
        referenceAllele:
          type: string
        proteinChange:
          type: string
        mutationType:
          type: string
        ncbiBuild:
          type: string
        variantType:
          type: string
        keyword:
          type: string
        alleleSpecificCopyNumber:
          $ref: '#/components/schemas/AlleleSpecificCopyNumber'
        chr:
          type: string
        variantAllele:
          type: string
        refseqMrnaId:
          type: string
        proteinPosStart:
          type: integer
          format: int32
        proteinPosEnd:
          type: integer
          format: int32
        namespaceColumns:
          type: object
    MutationFilter:
      type: object
      properties:
        sampleIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
        sampleListId:
          type: string
        entrezGeneIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maximum: 10000000
            minimum: 1
            type: integer
            format: int32
      description: List of Sample IDs/Sample List ID and Entrez Gene IDs
    MolecularDataFilter:
      type: object
      properties:
        sampleIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
        sampleListId:
          type: string
        entrezGeneIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maximum: 10000000
            minimum: 1
            type: integer
            format: int32
      description: List of Sample IDs/Sample List ID and Entrez Gene IDs
    NumericGeneMolecularData:
      required:
        - entrezGeneId
        - molecularProfileId
        - patientId
        - sampleId
        - studyId
        - value
      type: object
      properties:
        uniqueSampleKey:
          type: string
        uniquePatientKey:
          type: string
        entrezGeneId:
          type: integer
          format: int32
        gene:
          $ref: '#/components/schemas/Gene'
        molecularProfileId:
          type: string
        sampleId:
          type: string
        patientId:
          type: string
        studyId:
          type: string
        value:
          type: number
    GenePanelDataFilter:
      type: object
      properties:
        sampleIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
        sampleListId:
          type: string
      description: List of Sample IDs/Sample List ID and Entrez Gene IDs
    GenePanelData:
      required:
        - molecularProfileId
        - patientId
        - profiled
        - sampleId
        - studyId
      type: object
      properties:
        uniqueSampleKey:
          type: string
        uniquePatientKey:
          type: string
        molecularProfileId:
          type: string
        sampleId:
          type: string
        patientId:
          type: string
        studyId:
          type: string
        genePanelId:
          type: string
        profiled:
          type: boolean
    DiscreteCopyNumberFilter:
      type: object
      properties:
        sampleIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
        sampleListId:
          type: string
        entrezGeneIds:
          maxItems: 50000
          minItems: 1
          type: array
          items:
            maximum: 50000
            minimum: 1
            type: integer
            format: int32
      description: List of Sample IDs/Sample List ID and Entrez Gene IDs
    DiscreteCopyNumberData:
      required:
        - alteration
        - entrezGeneId
        - molecularProfileId
        - patientId
        - sampleId
        - studyId
      type: object
      properties:
        uniqueSampleKey:
          type: string
        uniquePatientKey:
          type: string
        molecularProfileId:
          type: string
        sampleId:
          type: string
        patientId:
          type: string
        entrezGeneId:
          type: integer
          format: int32
        gene:
          $ref: '#/components/schemas/Gene'
        studyId:
          type: string
        driverFilter:
          type: string
        driverFilterAnnotation:
          type: string
        driverTiersFilter:
          type: string
        driverTiersFilterAnnotation:
          type: string
        alteration:
          type: integer
          format: int32
        namespaceColumns:
          type: object
    MolecularProfileFilter:
      type: object
      properties:
        studyIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
        molecularProfileIds:
          maxItems: 10000000
          minItems: 1
          uniqueItems: true
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
      description: List of Molecular Profile IDs or List of Study IDs
    MolecularProfile:
      required:
        - molecularProfileId
        - patientLevel
        - studyId
      type: object
      properties:
        molecularAlterationType:
          type: string
          enum:
            - MUTATION_EXTENDED
            - MUTATION_UNCALLED
            - STRUCTURAL_VARIANT
            - COPY_NUMBER_ALTERATION
            - MICRO_RNA_EXPRESSION
            - MRNA_EXPRESSION
            - MRNA_EXPRESSION_NORMALS
            - RNA_EXPRESSION
            - METHYLATION
            - METHYLATION_BINARY
            - PHOSPHORYLATION
            - PROTEIN_LEVEL
            - PROTEIN_ARRAY_PROTEIN_LEVEL
            - PROTEIN_ARRAY_PHOSPHORYLATION
            - GENESET_SCORE
            - GENERIC_ASSAY
        genericAssayType:
          type: string
        datatype:
          type: string
        name:
          type: string
        description:
          type: string
        showProfileInAnalysisTab:
          type: boolean
        pivotThreshold:
          type: number
          format: float
        sortOrder:
          type: string
        patientLevel:
          type: boolean
        molecularProfileId:
          type: string
        studyId:
          type: string
        study:
          $ref: '#/components/schemas/CancerStudy'
    MolecularDataMultipleStudyFilter:
      type: object
      properties:
        sampleMolecularIdentifiers:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/SampleMolecularIdentifier'
        molecularProfileIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
        entrezGeneIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maximum: 10000000
            minimum: 1
            type: integer
            format: int32
      description: List of Molecular Profile ID and Sample ID pairs or List of MolecularProfile IDs and Entrez Gene IDs
    GenericAssayMetaFilter:
      type: object
      properties:
        molecularProfileIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
        genericAssayStableIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
      description: List of Molecular Profile ID or List of Stable ID
    GenericAssayMeta:
      type: object
      properties:
        stableId:
          type: string
        entityType:
          type: string
        genericEntityMetaProperties:
          type: object
          additionalProperties:
            type: string
    GenericAssayFilter:
      type: object
      properties:
        sampleIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
        sampleListId:
          type: string
        genericAssayStableIds:
          type: array
          items:
            type: string
      description: List of Sample IDs/Sample List ID and Generic Assay IDs
    GenericAssayData:
      required:
        - genericAssayStableId
        - molecularProfileId
        - patientId
        - sampleId
        - studyId
        - value
      type: object
      properties:
        uniqueSampleKey:
          type: string
        uniquePatientKey:
          type: string
        molecularProfileId:
          type: string
        sampleId:
          type: string
        patientId:
          type: string
        studyId:
          type: string
        value:
          type: string
        genericAssayStableId:
          type: string
        stableId:
          type: string
    GenericAssayDataMultipleStudyFilter:
      type: object
      properties:
        sampleMolecularIdentifiers:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/SampleMolecularIdentifier'
        molecularProfileIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
        genericAssayStableIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
      description: List of Molecular Profile ID and Sample ID pairs or List of MolecularProfile IDs and Generic Assay IDs
    GenePanel:
      required:
        - genePanelId
      type: object
      properties:
        description:
          type: string
        genes:
          type: array
          items:
            $ref: '#/components/schemas/GenePanelToGene'
        genePanelId:
          type: string
    GenePanelToGene:
      required:
        - entrezGeneId
        - hugoGeneSymbol
      type: object
      properties:
        entrezGeneId:
          type: integer
          format: int32
        hugoGeneSymbol:
          type: string
    GenePanelDataMultipleStudyFilter:
      type: object
      properties:
        sampleMolecularIdentifiers:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/SampleMolecularIdentifier'
        molecularProfileIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
      description: Gene panel data filter object
    CopyNumberSeg:
      required:
        - chromosome
        - end
        - numberOfProbes
        - patientId
        - sampleId
        - segmentMean
        - start
        - studyId
      type: object
      properties:
        uniqueSampleKey:
          type: string
        uniquePatientKey:
          type: string
        patientId:
          type: string
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32
        segmentMean:
          type: number
        studyId:
          type: string
        sampleId:
          type: string
        chromosome:
          type: string
        numberOfProbes:
          type: integer
          format: int32
    ClinicalDataIdentifier:
      type: object
      properties:
        entityId:
          type: string
        studyId:
          type: string
    ClinicalDataMultiStudyFilter:
      type: object
      properties:
        identifiers:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/ClinicalDataIdentifier'
        attributeIds:
          maxItems: 10000000
          minItems: 1
          type: array
          items:
            maxLength: 10000000
            minLength: 1
            type: string
      description: List of patient or sample identifiers and attribute IDs
    Info:
      required:
        - dbVersion
        - gitBranch
        - gitCommitId
        - gitCommitIdAbbrev
        - gitCommitIdDescribe
        - gitCommitIdDescribeShort
        - gitCommitMessageFull
        - gitCommitMessageShort
        - gitCommitMessageUserEmail
        - gitCommitMessageUserName
        - gitDirty
        - portalVersion
      type: object
      properties:
        portalVersion:
          type: string
        dbVersion:
          type: string
        gitBranch:
          type: string
        gitCommitId:
          type: string
        gitCommitIdAbbrev:
          type: string
        gitCommitIdDescribe:
          type: string
        gitCommitIdDescribeShort:
          type: string
        gitCommitMessageFull:
          type: string
        gitCommitMessageShort:
          type: string
        gitCommitMessageUserEmail:
          type: string
        gitCommitMessageUserName:
          type: string
        gitDirty:
          type: boolean
    ServerStatusMessage:
      type: object
      properties:
        status:
          type: string
